
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(images/이미지\ 소스4.jpg);
}

.container .header{
    width: 90%;
    height: 110px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .header h1 a{
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.container .nav ul li{
    display: inline-block;
    margin:0 10px;
}

.container .nav ul li a{
    text-decoration: none;
    color:white;
    font-family: 'Times New Roman', Times, serif;
}

.container .nav ul li a:hover{
 color: rgb(0, 183, 255);
}

.container .hero{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.container .hero h2{
    font-size: 70px;
    margin-bottom: 20px;
}

.container .hero p{
    font-size: 30px;
}

.container .hero button{
    background: white;
    border: 2px solid rgb(255, 255, 255);
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 30px;
    outline: none;
    cursor: pointer;
    transition: all .2s;
}

.container .hero button:hover{
    background-color:rgb(194, 194, 194)
}